<div class="modal-header bg-light">
    <h5 class="modal-title">{{subsystemJob?.name}} Log ({{subsystemJob?.description}})</h5>
    <button (click)="close()" aria-hidden="true" class="close" type="button">&times;</button>
</div>
<div class="modal-body">
    <div class="form-control box-shadow">
        <div *ngFor="let logLine of logLines">
            <jhi-subsystem-job-log-line [logLine]='logLine'></jhi-subsystem-job-log-line>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button (click)="close()" class="btn btn-default" data-dismiss="modal" type="button">
        <span>Close</span>
    </button>
</div>