<div>
    <h2>
        <span jhiTranslate="appmonitorApp.subsystemParameter.home.title">Subsystem Parameters</span>
        <button class="btn btn-primary float-right jh-create-entity create-subsystem-parameter" [routerLink]="['/', { outlets: { popup: ['subsystem-parameter-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="appmonitorApp.subsystemParameter.home.createLabel">
            Create new Subsystem Parameter
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subsystemParameters">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="appmonitorApp.subsystemParameter.parameterKey">Parameter Key</span></th>
            <th><span jhiTranslate="appmonitorApp.subsystemParameter.parameterValue">Parameter Value</span></th>
            <th><span jhiTranslate="appmonitorApp.subsystemParameter.subsystem">Subsystem</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subsystemParameter of subsystemParameters ;trackBy: trackId">
                <td><a [routerLink]="['../subsystem-parameter', subsystemParameter.id ]">{{subsystemParameter.id}}</a></td>
                <td>{{subsystemParameter.parameterKey}}</td>
                <td>{{subsystemParameter.parameterValue}}</td>
                <td>
                    <div *ngIf="subsystemParameter.subsystemId">
                        <a [routerLink]="['../subsystem', subsystemParameter.subsystemId  ]" >{{subsystemParameter.subsystemId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../subsystem-parameter', subsystemParameter.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subsystem-parameter/'+ subsystemParameter.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subsystem-parameter/'+ subsystemParameter.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
