<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myObjectStatusLabel" jhiTranslate="appmonitorApp.objectStatus.home.createOrEditLabel">Create or edit a Object Status</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!objectStatus.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="objectStatus.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.objectStatus.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="objectStatus.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.objectStatus.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="objectStatus.description" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.objectStatus.objectType" for="field_objectType">Object Type</label>
            <select class="form-control" id="field_objectType" name="objectType" [(ngModel)]="objectStatus.objectTypeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="objectTypeOption.id" *ngFor="let objectTypeOption of objecttypes; trackBy: trackObjectTypeById">{{objectTypeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
