
<div *ngIf="subsystem">
    <h2><span jhiTranslate="appmonitorApp.subsystem.detail.title">Subsystem</span> {{subsystem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="appmonitorApp.subsystem.name">Name</span></dt>
        <dd>
            <span>{{subsystem.name}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystem.subsystemType">Subsystem Type</span></dt>
        <dd>
            <span jhiTranslate="{{'appmonitorApp.SubsystemType.' + subsystem.subsystemType}}">{{subsystem.subsystemType}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystem.refreshRate">Refresh Rate</span></dt>
        <dd>
            <span>{{subsystem.refreshRate}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystem.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{subsystem.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystem.information">Information</span></dt>
        <dd>
            <span>{{subsystem.information}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subsystem/'+ subsystem.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
