
<div *ngIf="subsystemJob">
    <h2><span jhiTranslate="appmonitorApp.subsystemJob.detail.title">Subsystem Job</span> {{subsystemJob.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="appmonitorApp.subsystemJob.name">Name</span></dt>
        <dd>
            <span>{{subsystemJob.name}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemJob.description">Description</span></dt>
        <dd>
            <span>{{subsystemJob.description}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemJob.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'appmonitorApp.JesJobStatus.' + subsystemJob.status}}">{{subsystemJob.status}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemJob.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'appmonitorApp.SubsystemJobType.' + subsystemJob.type}}">{{subsystemJob.type}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemJob.startedAt">Started At</span></dt>
        <dd>
            <span>{{subsystemJob.startedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemJob.log">Log</span></dt>
        <dd>
            <span>{{subsystemJob.log}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemJob.subsystem">Subsystem</span></dt>
        <dd>
            <div *ngIf="subsystemJob.subsystemId">
                <a [routerLink]="['/subsystem', subsystemJob.subsystemId]">{{subsystemJob.subsystemId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subsystem-job/'+ subsystemJob.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
