
<div *ngIf="subsystemObject">
    <h2><span jhiTranslate="appmonitorApp.subsystemObject.detail.title">Subsystem Object</span> {{subsystemObject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="appmonitorApp.subsystemObject.name">Name</span></dt>
        <dd>
            <span>{{subsystemObject.name}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemObject.description">Description</span></dt>
        <dd>
            <span>{{subsystemObject.description}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemObject.isActive">Is Active</span></dt>
        <dd>
            <span>{{subsystemObject.isActive}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemObject.subsystem">Subsystem</span></dt>
        <dd>
            <div *ngIf="subsystemObject.subsystemId">
                <a [routerLink]="['/subsystem', subsystemObject.subsystemId]">{{subsystemObject.subsystemId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemObject.objectType">Object Type</span></dt>
        <dd>
            <div *ngIf="subsystemObject.objectTypeId">
                <a [routerLink]="['/object-type', subsystemObject.objectTypeId]">{{subsystemObject.objectTypeId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subsystem-object/'+ subsystemObject.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
