<div class="row allign-header-center">
    <div class="col-md-8">
        <h5>{{subsystem?.name}} Issues</h5>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-lg btn-block btn-outline-success box-shadow" (click)="updateIssues(subsystemId); $event.stopPropagation(); $event.preventDefault()">
            <span class="fa fa-refresh"></span>
            <span>Update</span>
        </button>
    </div>
</div>
<div class="row">
    <div *ngFor="let issue of issues" class="col-md-12">
        <jhi-issue-card [issue]="issue"></jhi-issue-card>
    </div>
</div>