<form name="addForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h5 class="modal-title">Add new subsystem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <h6 class="form-control-label">Name</h6>
            <input type="text" class="form-control box-shadow" [(ngModel)]="subsystem.name" name="subsystemName" />
        </div>
        <div class="form-group">
            <h6 class="form-control-label">Subsystem Type</h6>
            <select class="form-control box-shadow" [(ngModel)]="subsystem.subsystemType" name="subsystemType">
                <option value="IMS">{{'appmonitorApp.SubsystemType.IMS' | translate}}</option>
                <option value="MQ">{{'appmonitorApp.SubsystemType.MQ' | translate}}</option>
                <option value="OPC">{{'appmonitorApp.SubsystemType.OPC' | translate}}</option>
                <option value="DB2">{{'appmonitorApp.SubsystemType.DB2' | translate}}</option>
            </select>
        </div>
        <!-- <div class="form-group">
            <h6 class="form-control-label">Refresh Rate</h6>
            <input type="number" class="form-control box-shadow" [(ngModel)]="subsystem.refreshRate" name="subsystemRefreshRate" />
        </div> -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="form-control-label">Hostname</h6>
                    <input type="text" class="form-control box-shadow" [(ngModel)]="hostname" name="hostname" />
                </div>
                <div class="col-md-6">
                    <h6 class="form-control-label">Port</h6>
                    <input type="number" class="form-control box-shadow" [(ngModel)]="port" name="port" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="form-control-label">User ID</h6>
                    <input type="text" class="form-control box-shadow" [(ngModel)]="userId" name="userId" />
                </div>
                <div class="col-md-6">
                    <h6 class="form-control-label">Password</h6>
                    <input type="password" class="form-control box-shadow" [(ngModel)]="password" name="password" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="form-control-label">IMS Datastore</h6>
                    <input type="text" class="form-control box-shadow" [(ngModel)]="imsDatastore" name="imsDatastore" />
                </div>
                <div class="col-md-6">
                    <h6 class="form-control-label">IMS Exit identifier</h6>
                    <select class="form-control box-shadow" [(ngModel)]="imsExitIdentifier" name="imsExitIdentifier">
                        <option value="*SAMPLE*">*SAMPLE*</option>
                        <option value="*SAMPL1*">*SAMPL1*</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="form-control-label">Job account</h6>
                    <input type="text" class="form-control box-shadow" [(ngModel)]="jobAccountingInfo" name="jobAccountingInfo" />
                </div>
                <div class="col-md-6">
                    <h6 class="form-control-label">Job class</h6>
                    <input type="text" class="form-control box-shadow" [(ngModel)]="jobClass" name="jobClass" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success box-shadow" data-dismiss="modal" (click)="testConnection()">
            <span class="fa fa-refresh"></span>&nbsp;
            <span>Test connection</span>
        </button>
        <button type="button" class="btn btn-secondary box-shadow" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary box-shadow">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>