.error-message {
    display: inline-block;
    cursor: pointer;
    color: #e21e1e;
    font-weight: normal;
}

.error-message:hover {
    text-decoration: underline;
    border: 1px white;
}

.warning-message {
    display: inline-block;
    cursor: pointer;
    color: #e49000;
    font-weight: normal;
}

.warning-message:hover {
    text-decoration: underline;
    border: 1px white;
}

.info-message {
    display: inline-block;
    cursor: pointer;
    color: #03b698;
    font-weight: normal;
}

.info-message:hover {
    text-decoration: underline;
    border: 1px white;
}

.text {
    display: inline-block;
    color: #777777 !important;
    font-weight: normal;
}