<a [routerLink]="['../subsystem', subsystem.id, 'issues']">
    <div class="card box-shadow mb-2 mt-2">
        <div class="card-header">
            <h5 class="my-0">{{subsystem.name}}</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Hostname</h6>
            <h5 class="card-title">{{subsystem.connectionParameters.hostname}}</h5>
            <a [routerLink]="['../subsystem', subsystem.id, 'info']">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-2 box-shadow">
                    <span class="fa fa-info-circle"></span>
                    <span>Information</span>
                </button>
            </a>
        </div>
        <div class="card-footer text-muted">
            <p class="my-0">Last updated at {{getSubsystemUpdateDate() | date:'dd.MM.y HH:mm'}}</p>
        </div>
    </div>
</a>