<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myIssueLabel" jhiTranslate="appmonitorApp.issue.home.createOrEditLabel">Create or edit a Issue</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!issue.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="issue.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.issue.occuredAt" for="field_occuredAt">Occured At</label>
            <div class="d-flex">
                <input id="field_occuredAt" type="datetime-local" class="form-control" name="occuredAt" [(ngModel)]="issue.occuredAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.issue.resolvedAt" for="field_resolvedAt">Resolved At</label>
            <div class="d-flex">
                <input id="field_resolvedAt" type="datetime-local" class="form-control" name="resolvedAt" [(ngModel)]="issue.resolvedAt"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.issue.objectStatus" for="field_objectStatus">Object Status</label>
            <select class="form-control" id="field_objectStatus" name="objectStatus" [(ngModel)]="issue.objectStatusId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="objectStatusOption.id" *ngFor="let objectStatusOption of objectstatuses; trackBy: trackObjectStatusById">{{objectStatusOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.issue.subsystemObject" for="field_subsystemObject">Subsystem Object</label>
            <select class="form-control" id="field_subsystemObject" name="subsystemObject" [(ngModel)]="issue.subsystemObjectId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subsystemObjectOption.id" *ngFor="let subsystemObjectOption of subsystemobjects; trackBy: trackSubsystemObjectById">{{subsystemObjectOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.issue.assignedUser" for="field_assignedUser">Assigned User</label>
            <select class="form-control" id="field_assignedUser" name="assignedUser" [(ngModel)]="issue.assignedUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
