<div class="modal-header">
    <h5 class="modal-title" jhiTranslate="login.title">Sign in</h5>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="form-group">
                    <h6 for="username" jhiTranslate="global.form.username">Login</h6>
                    <input type="text" class="form-control box-shadow" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                        [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <h6 for="password" jhiTranslate="login.form.password">Password</h6>
                    <input type="password" class="form-control box-shadow" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                        [(ngModel)]="password">
                </div>
                <div class="form-check">
                    <h6 class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                        <span jhiTranslate="login.form.rememberme">Remember me</span>
                    </h6>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block box-shadow mt-4" jhiTranslate="login.form.button">Sign in</button>
            </form>
            <p></p>
            <div class="alert alert-warning box-shadow">
                <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning box-shadow">
                <h6 jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</h6>
                <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </div>
</div>